# C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cmake
*cmake-build-*
*.idea
**build**


# Python
# environment
.idea/
environment.txt

# jupyter
.ipynb_checkpoints/

# plot
iframe_figures/

# byte-compiled / optimized / DLL files
__pycache__/

# dataset
dataset/

# model & checkpoints
model/

# configs
configs/
configuration.yaml

# media
*.png
*.html

# IDE
.vscode/
